#![enable(implicit_some)]
Container(
    transform: (
        id: "pause_menu",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),
        width: 100.0,
        height: 100.0,
    ),
    children: [
        Button(
            transform: (
                id: "exit_button",
                x: 0.0,
                y: 0.0,
                width: 80.0,
                height: 36.0,
                anchor: BottomMiddle,
                mouse_reactive: true,
            ),
            button: (
                text: "Exit",
                font: File("fonts/FiraSans-Regular.ttf", ("TTF", ())),
                font_size: 24.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "enemy_button",
                x: 0.0,
                y: 0.0,
                width: 80.0,
                height: 36.0,
                anchor: BottomRight,
                mouse_reactive: true,
            ),
            button: (
                text: "Scene: Enemies",
                font: File("fonts/FiraSans-Regular.ttf", ("TTF", ())),
                font_size: 24.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "basic_button",
                x: 0.0,
                y: 0.0,
                width: 100.0,
                height: 36.0,
                anchor: BottomLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Scene: Basic",
                font: File("fonts/FiraSans-Regular.ttf", ("TTF", ())),
                font_size: 24.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (0.2, 0.2, 0.2, 1.0),
                hover_text_color: (0.7, 0.7, 0.7, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
    ]
)
